<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />

    <title>Knight the 50k MINI</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    
    <script src="/app/assets/javascripts/lightSlider.js"></script>
  </head>

  <body>

<!-- MINI BODY BEGINS HERE -->
<div class="mini-body">
  <div class="row">
    <div class="large-12-columns">
    <!-- MINI TOP BANNER BEGINS HERE -->
    <div class="mini-top-banner">
      <img src="/assets/mini-top-banner.jpg" class="mmd" alt="banner">
      <img src="/assets/mini-top-mobile.jpg" class="mmv" alt="banner">
    </div>
    <!-- MINI TOP BANNER ENDS HERE -->

    <!-- MINI TOP TEXT BEGINS HERE -->
    <div class="mini-banner-text">
      <p>
      We took to the streets with our trusty squire and noble steed, to drum up support for our cause, to knight His Fastness, the 50,000th MINI in Canada by Her Majesty, The Queen.
      </p>
      <br/>
      <div class="mini-text-spacer">
        <p>Pledge your support towards our valiant quest in the form below or through Facebook and Twitter via #KNIGHTTHE50KMINI. And together we can make a legend that will be told for years to come!
        </p>
      </div>
      <!-- MINI TOP TEXT ENDS HERE -->

      <!-- MINI SAGA VIDEO BEGINS HERE -->
      <div class="saga">
        <img src="/assets/MINI-saga.jpg" alt="saga">
      </div>
      <div class="flex-video">
        <iframe width="560" height="315" src="//www.youtube.com/embed/VwzsQggVoXs" frameborder="0" allowfullscreen></iframe>
      </div>
      <!-- MINI SAGA VIDEO ENDS HERE -->
    </div>
    <div class="talk-row">
      <!-- MINI TALK OF THE TOWN BEGINS HERE -->
      <div class="talk">
        <div class="small-12 columns medium-7 columns">
          <img src="/assets/MINI-talk.jpg" class="mmd" alt="talk">
          <img src="/assets/Slice-talk.jpg" class="mmv" alt="talk">
          <div class="mini-post">
            <img src="/assets/MINI-randompost.jpg" class="mini-random-post">
          </div>
        </div>
      </div>
      <!-- MINI TALK OF THE TOWN ENDS HERE -->

      <!-- MINI PLEDGE BOX BEGINS HERE -->
      <div class="pledge">
        <div class="small-12 columns medium-5 columns">
          <img src="/assets/MINI-pledge.jpg" class="mmd" alt="pledge">
          <img src="/assets/Slice-pledge.jpg" class="mmv" alt="pledge">
          <div class="mini-contact">
          <p>Sign hither, and tell your tale why the 50,000th MINI in Canada should be knighted.</p>
          <!-- MINI PLEDGE BOX FORM BEGINS HERE -->
          <input type="text" class="mini-input" placeholder="First Name:">
          <input type="text" class="mini-input" placeholder="Last Name:">
          <input type="text" class="mini-input" placeholder="Email:">
          <input type="text" class="mini-input" placeholder="Re-type Email:">
          <br />
          <textarea class="mini-area" placeholder="Please type here:"></textarea>
          <img src="/assets/mini-submit.jpg" class="mini-submit" alt="submit button">
          <!-- MINI PLEDGE BOX FORM ENDS HERE -->
          </div>
        </div>
      </div>
      <!-- MINI PLEDGE BOX ENDS HERE -->
    </div>
    <div class="row">
      <!-- MINI GALLERY BEGINS HERE -->
      <div class="mini-gallery">
        <img src="/assets/MINI-gallery.jpg" class="mmd" alt="gallery">
        <img src="/assets/Slice-gallery.jpg" class="mmv" alt="gallery">
      </div>
      <div class="lSSlideOuter ">
        <div class="lSSlideWrapper">
          <div class="small-3-columns">
            <!-- MINI GALLERY IMAGES BEGINS HERE -->
            <ul id="lightSlider">
              <li data-thumb="/assets/tb1.jpg"> <img src="/assets/pic-1.jpg" alt="image01">
              </li>
              <li data-thumb="/assets/tb2.jpg">
                  <img src="/assets/pic-2.jpg" alt="image01">
              </li>
              <li data-thumb="/assets/tb3.jpg">
                  <img src="/assets/pic-3.jpg" alt="image01">
              </li>
              <li data-thumb="/assets/tb4.jpg">
                  <img src="/assets/pic-4.jpg" alt="image01">
              </li>
              <li data-thumb="/assets/tb5.jpg">
                  <img src="/assets/pic-5.jpg" alt="image01">
              </li>
              <li data-thumb="/assets/tb6.jpg">
                  <img src="/assets/pic-6.jpg" alt="image01">
              </li>
              <li data-thumb="/assets/tb7.jpg">
                  <img src="/assets/pic-7.jpg" alt="image01">
              </li>
              <li data-thumb="/assets/tb8.jpg">
                  <img src="/assets/pic-8.jpg" alt="image01">
              </li>
              <li data-thumb="/assets/tb9.jpg">
                  <img src="/assets/pic-9.jpg" alt="image01">
              </li>
              <li data-thumb="/assets/tb10.jpg">
                  <img src="/assets/pic-10.jpg" alt="image01">
              </li>
              <li data-thumb="/assets/tb11.jpg">
                  <img src="/assets/pic-11.jpg" alt="image01">
              </li>
              <li data-thumb="/assets/tb12.jpg">
                  <img src="/assets/pic-12.jpg" alt="image01">
              </li>
            </ul>
            <!-- MINI GALLERY IMAGES ENDS HERE -->
          </div>
        </div>
      </div>
    </div>
    <!-- MINI GALLERY ENDS HERE -->
    </div> 
  </div>  
</div> 
<!-- MINI BODY ENDS HERE -->
</body>


</html>



    <%= javascript_include_tag "application" %>

<!-- MINI GALLERY IMAGE JAVASCRIPT BEGINS HERE -->
<script type="text/javascript">
$(document).ready(function() {
    $("#lightSlider").lightSlider({
        item: 1,
        autoWidth: false,
        slideMove: 1, // slidemove will be 1 if loop is true
        slideMargin: 0,
 
        addClass: '',
        mode: "slide",
        useCSS: true,
        cssEasing: 'ease', //'cubic-bezier(0.25, 0, 0.25, 1)',//
        easing: 'linear', //'for jquery animation',////
 
        speed: 400, //ms'
        auto: false,
        loop: false,
        slideEndAnimatoin: true,
        pause: 2000,
 
        keyPress: false,
        controls: true,
        prevHtml: '',
        nextHtml: '',
 
        rtl:false,
        adaptiveHeight:false,
 
        vertical:false,
        verticalHeight:500,
        vThumbWidth:100,
 
        thumbItem:8,
        pager: true,
        gallery: true,
        galleryMargin: 5,
        thumbMargin: 5,
        currentPagerPosition: 'middle',
 
        enableTouch:false,
        enableDrag:false,
        freeMove:true,
        swipeThreshold: 40,
 
        responsive : [],
 
        onBeforeStart: function (el) {},
        onSliderLoad: function (el) {},
        onBeforeSlide: function (el) {},
        onAfterSlide: function (el) {},
        onBeforeNextSlide: function (el) {},
        onBeforePrevSlide: function (el) {}
    });
});
</script>
<!-- MINI GALLERY IMAGE JAVASCRIPT ENDS HERE -->
  </body>
</html>